<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th> 
    </tr>
  </thead>
  <tbody>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= link_to user.username, user_index_path(user.id) %></td>
		<td><%= user.email %></td>
		<td><%= user.created_at %></td>
    <td><%= link_to "Logs", admin_user_logs_path(user.id), :class => 'btn btn-mini btn-info' %></td>
	</tr>
	<% end %>
  </tbody>
  </table>