<%- model_class = Activitylog -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:log_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th> 
      <th><%= model_class.human_attribute_name(:event) %></th> 
      <th><%= model_class.human_attribute_name(:action) %></th> 
    </tr>
  </thead>
  <tbody>
	<% @logs.each do |log| %>
	<tr>
    <td><%= log.id %></td>
		<td><%= log.user_id %></td>
		<td><%= log.created_at %></td> 
    <td><%= log.note %></td>
    <td><%= log.action %></td>

	</tr>
	<% end %>
  </tbody>
  </table>