<p>
  <strong>By:</strong>
  <%=link_to comment.user.username, user_index_path(comment.user) %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
<% if user_signed_in? %>
	<% if current_user==comment.user  || current_user.admin %>
	  <%= link_to 'Delete Comment', [comment.post, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>
</p>