<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<!-- <script type="text/javascript" src="assets/javascripts/tinymice/js/tinymice/tinymice.min.js"></script> -->
<script>
        tinymce.init({selector:'textarea'});
</script>
<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
<% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %>   
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tag_list ,"Tags (Seperate By commas)", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag_list, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_index_path(current_user.id), :class => 'btn' %>
  </div>
<% end %>
