<div align="center">
<a class="brand" href='/'>
   <%= image_tag "img.png" %>
</a>
</div>
<h3>Welcome To Enrichment Forum</h3>
We are a consortium of senior school teachers with over two decades of experience in 

leading Public Schools of Delhi. Alongside regular school teaching we have also been 

involved in teacher training and re-orientation work for over 15 years. Our workshops have 

benefited hundreds of teachers and received enthusiastically. 

   We have been repeatedly asked to give this effort a formal ground so that institutes and 

teachers can directly benefit from our experience. Towards this endeavour we are presenting 

a series of interactive workshops which can exclusively be designed as per the need of 

the school and the teachers. Our workshops are goal driven which is the outcome of our 

immense dedication and experience. We take this liberty to say
<p></p>

                       <div align="center"><strong> “WE KNOW TEACHERS LIKE NO OTHERS” </div></strong>
<p></p>

  A teacher can never afford to stop learning, as learning is synonymous with GROWTH. In 

the world of today, you can be either growing or you could be decaying, there is no middle 

ground. Often the schools are stuck with teachers that do not meet their standards and 

do not delivered the desired results. Like students, teachers also require some  instrument 

which guide them to get the desired result .We are that instrument which can bring the 

change in the teacher`s  outlook, personality, confidence and the skills. We can provide the 

very much needed platform to the teachers to enrich themselves from the experience of the 

others in the same field. This platform can be used by the teachers to discuss freely their 

requirements, area of difficulty, need of useful resources etc. etc the never ending list.

<p></p>         Our workshops are experiences in active learning. Our workshops are aimed at 

empowering the teachers to acquire the much needed knowledge booster and become 

a good leader, motivator and great mentor. When teachers work together, sit together, 

solve and share problems, they re-interpret ideas and concepts in unanticipated ways. This 

improves learning for teachers at several levels. 

<p></p>The important thing in this learning process is to remain involved with the children and to 

stop them from asking question the teacher must allow the child to dream and imagine. 

They must be receptive to new ideas and must be thorough in his/her subject. And the last, 

teacher must learn with time to enhance his knowledge as Knowledge is Power.

In our forthcoming series, we are presenting a workshop in Physics, Chemistry and 

Mathematics for practicing teachers. This workshop will review all basic concepts of classes 

XI and XII, with the intent of exploring the proper manner to present the above three 

subjects in the classroom. The special emphasis will be laid on:
<p></p>
<ul>
<li> Teaching of Difficult topics</li>

<li>Interesting ways of teaching those topics which majority of the students consider </li> 

<li>Integration of different topics within a given subject as well as integration of physics , 

chemistry and mathematics, in order to enhance understanding of the subject and 

save time too</li> 

<li>Clearing queries/ doubts of the practicing teachers </li> 
</ul> 

Significant efforts will be devoted on developing an understanding of the difficult

Concepts, how to formulate questions in order of increasing difficulty level, in order to 

ensure confidence of the teachers and maximize students success.

The workshop will be conducted (duration of workshop can be one day or two days) in a 

number of sessions:
<p></p>

Session 1 – Effective and interesting ways of teaching Physics, Chemistry, 
<p></p>
Session 2 – Intra and inter disciplinary way of teaching Physics ,Chemistry and
<p></p>
Session 3 – Interactive Doubt clearing session
<p></p>
Session 4- Activity based learning session
<p></p>
      We do not end our support to you here just by conducting and concluding the 

workshop but providing a helping hand to the teachers when and where they required. 

The teachers and the school can also be in touch with us electronically using email, mobile 

                   Mathematics

                   Mathematics
<p></p>
We would like to have an opportunity to meet you and present the programme and to enlist 

your support in conducting the workshop in your esteemed school. We are positive that 

teachers of your school will find this workshop beneficial and result -oriented. We would like 

to look forward to associating with your school.
<p></p>
       Thanks and Regards
<p></p>
EDUCATIONAL CONSULTANTS
<p></p>
enrichmentforum@gmail.com<p></p>