<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @post.title %></dd>  
  <dt><strong><%= model_class.human_attribute_name(:tags)%>:</strong></dt>
  <dd><%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></dd>
  <dt><strong>By:</strong></dt>
  <dd><%= link_to @post.user.username, user_index_path(@post.user) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:text) %>:</strong></dt>
  <dd><%= raw @post.text %></dd>
</dl>

<div class="form-actions">
<% if user_signed_in? %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              user_index_path(current_user.id), :class => 'btn'  %>
  <% if current_user.id == @post.user_id || current_user.admin %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_post_path(@post), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
<% else %>
  <%= link_to t('.home', :default => t("helpers.links.home")),
              root_path, :class => 'btn'  %>
<% end %>
</div>

<h4>Comments</h4>

<%= render @post.comments %>

<h3>Add a comment:</h3>

<%= render "comments/form" %>


