<div id="tag_cloud" class="span9">
<table class="table table-striped">
  <thead>
  	<th>Tag Name</th>
  	<th>Related Posts</th>
  </thead>
  <tbody>
  <% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class| %>
    <tr>
    	<td><%= link_to tag.name, tag_path(tag.name), class: css_class %></td>
    	<td><%= tag.count%></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>