<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href='/'>
        EnrichmentForum
        <sup style="font-size:14px; color: #999;">beta</sup>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
          <% if user_signed_in? %>
            <li><%= link_to current_user.username, user_index_path(current_user.id) %></li>
            <% if current_user.admin %>
              <li><%= link_to "Users", admin_list_users_path %></li>
              <li><%= link_to "Logs", admin_list_logs_path %></li>
            <% end %>
          <% end %>
            <li><%= link_to "newPost", new_post_path%></li>
            <li><%= link_to "Tags", tags_path %></li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <%= form_tag search_path, :method => :get, :class => "navbar-search" do %>
             <p>
                  <%= text_field_tag :search, params[:search], :class => "search-query span2", :placeholder => "Search" %>
              </p>
              <% end %>
            </li>
            <li>
            <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path %>
            <% end %> 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <h2>About Us</h2>
        We are a consortium of senior school teachers with over two decades of experience in 

leading Public Schools of Delhi. Alongside regular school teaching we have also been 

involved in teacher training and re-orientation work for over 15 years. Our workshops have 

benefited hundreds of teachers and received enthusiastically. 
      <% if user_signed_in? %>
        <h3>User History</h3>
        <ul>
        <% @lists.each do |list| %>
          <li><%= link_to list.title, post_path(list.id) %> | <%= list.created_at.strftime("%d %b. %Y") %></li>
      <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>

</body>
</html>
